h1, h2, h3, h4, h5, h6 {color:#7469b9;}


footer {
  font-family: serif;
  font-size: 12px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #f1f1f1;
  padding: 2px;
  font-family: monospace;
}
th {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #f1f1f1;
  padding: 2px;
  color: crimson;
}
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #f1f1f1;
  padding: 2px;
}

body {
	line-height: 190%;
	padding-left: 50px;
	font-family: "Segoe UI";
}